* { margin: 0; padding: 0; box-sizing: border-box; }

header {
    background-color: aquamarine;
    height: 150px;
}

nav {
    float: left;
    width: 25%;
    min-height: 600px;
    background-color: aqua;
}

main {
    float: left;
    width: 50%;
    min-height: 600px;
    background-color: blue;
}

section {
    float: right;
    width: 25%;
    min-height: 600px;
    background-color: aqua;
}

footer {
    clear: both;
    height: 170px;
    width: 100%;
    background-color: aquamarine;
}