.blok {
    box-sizing: border-box;
    border: 2px solid black;
    height: 200px;
    width: 48%;
    float: left;
    margin: 1px;
}
.clearfix {
    clear: both;
}
.clearfix {
    clear: both;
}

* { margin: 0; padding: 0; box-sizing: border-box; }