* { margin: 0; padding: 0; box-sizing: border-box; }

header {
    height: 100px;
    background-color: lightblue;
}

main {
    height: 300px;
    width: 70%;
    background-color: lightgray;
    float: left;
}

footer {
    height: 80px;
    background-color: black;
    clear: both;
}